@font-face {
	font-family: 'Montserrat Alternates';
	src: url('MontserratAlternates-Italic.woff2') format('woff2'), url('MontserratAlternates-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}